.battery {
    width: 200px;
    height: 80px;
    border: 3px solid black;
    box-sizing: border-box;
    margin: 30px;
    position: relative;


    &::after {
        content: "";
        width: 15px;
        height: 35px;
        background-color: black;
        position: absolute;
        top: calc(50% - 17px);
        right: -15px;

    }

    &::before{
        content: "";
        height: 100%;
        width: 35%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, red, green);
    }
}

@mixin flexAlign($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

.menu {
    @include flexAlign(flex-start);
   
   
    &__item{
        width: 120px;
        height: 50px;
        background: linear-gradient(to right, orange, lightblue);
        @include flexAlign();
        clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
        padding-right: 15px;
        box-sizing: border-box;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        user-select: none; // запрет на выделение текста

        &:hover{
            z-index: 3;
            transform: scale(1.2);
            padding-right: 15px;
            animation-name: buttonanimation;
            animation-duration: 2s;
            animation-delay: 1s;
            animation-iteration-count: 3;  //кол-во повторений анимации
            
        }
        



        &_first{
            z-index: 2;
        }



        &_second{
            left: -24px;
            z-index: 1;
            padding-right: 0;
        }

       &_third{
        
        left: -48px;
        padding-right: 0;
       }

    }  
}


@keyframes buttonanimation {
    0%{ // 0% - тоже самое
        transform: rotate(0deg);
    }

    50%{  
        transform: rotate(-20deg);
    }

    70%{  
        transform: scale(2);
    }

    100%{  //100%
        transform: rotate(20deg);
    }

}



.container{
    width: 100%;
    border: 2px solid red;
    box-sizing: border-box;
    padding: 10px;
    @include flexAlign(space-between);

    @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    @media screen and (max-width: 768px) {
        flex-wrap: nowrap;
        padding-bottom: 0;
        flex-direction: column;
    }


    &__item{
        height: 60px;
        width: 100%;
        background-color: blue;
        color: white;
        font-size: 30px;
        font-weight: bold;
        @include flexAlign;
        margin-right: 10px;

        @media screen and (max-width: 1024px) {
            width: 49%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
            &:last-child{
                margin-right: 0;
            }
    }
}