.battery {
  width: 200px;
  height: 80px;
  border: 3px solid black;
  box-sizing: border-box;
  margin: 30px;
  position: relative; }
  .battery::after {
    content: "";
    width: 15px;
    height: 35px;
    background-color: black;
    position: absolute;
    top: calc(50% - 17px);
    right: -15px; }
  .battery::before {
    content: "";
    height: 100%;
    width: 35%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, red, green); }

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }
  .menu__item {
    width: 120px;
    height: 50px;
    background: linear-gradient(to right, orange, lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
    padding-right: 15px;
    box-sizing: border-box;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    user-select: none; }
    .menu__item:hover {
      z-index: 3;
      transform: scale(1.2);
      padding-right: 15px;
      animation-name: buttonanimation;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-iteration-count: 3; }
    .menu__item_first {
      z-index: 2; }
    .menu__item_second {
      left: -24px;
      z-index: 1;
      padding-right: 0; }
    .menu__item_third {
      left: -48px;
      padding-right: 0; }

@keyframes buttonanimation {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-20deg); }
  70% {
    transform: scale(2); }
  100% {
    transform: rotate(20deg); } }

.container {
  width: 100%;
  border: 2px solid red;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  @media screen and (max-width: 1024px) {
    .container {
      flex-wrap: wrap;
      padding-bottom: 0; } }
  @media screen and (max-width: 768px) {
    .container {
      flex-wrap: nowrap;
      padding-bottom: 0;
      flex-direction: column; } }
  .container__item {
    height: 60px;
    width: 100%;
    background-color: blue;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 10px; }
    @media screen and (max-width: 1024px) {
      .container__item {
        width: 49%;
        margin-right: 0;
        margin-bottom: 10px; } }
    @media screen and (max-width: 768px) {
      .container__item {
        width: 100%; } }
    .container__item:last-child {
      margin-right: 0; }
